<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kisd.mapper.CustomerMapper">
    <select id="custListData" resultType="CustomerVO" parameterType="int">
        SELECT cno,cname,sex,email,dname,phone,TO_CHAR(regdate,'YYYY-MM-DD') AS regdate,TO_CHAR(birth_date,'yyyy-mm-dd') AS birth_date,grade,status
        FROM customer c
            JOIN grade g ON c.gno=g.gno
        ORDER BY cno
        OFFSET #{start} ROWS FETCH NEXT 20 ROWS ONLY
    </select>
    <select id="custTotalPage" resultType="int">
        SELECT CEIL(COUNT(*)/20.0)
        FROM customer
    </select>
    <select id="custLoginData" resultType="CustomerVO" parameterType="String">
        SELECT cno,cname,sex,phone,email,TO_CHAR(birth_date,'yyyy-mm-dd') AS birth_date,TO_CHAR(regdate,'yyyy-mm-dd') AS regdate,addr1,addr2,grade,status,id,pwd
        FROM customer c
            JOIN grade g ON c.gno=g.gno
        WHERE id=#{id}
    </select>
</mapper>